[Oo]bj/
[Bb]in/
*.user
target/
*.suo
*.cache
*.bak
packages/
msbuild.log
_Resharper*/
*.ncrunchsolution
*.ncrunchproject
TestResults/

Web.Debug.config
Web.Release.config
*.publish.xml
publishprofiles/
testimpactdata.sdf