<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.GlimpseConfiguration" />
    <section name="flickrNet" type="FlickrNet.FlickrConfigurationManager, FlickrNet" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FlickrAuth" value="72157622950409631-2cabb7e6e6d46648" />
    <add key="AWSAccessKey" value="AKIAJCNSQGXJKMLXCFHQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="FromEmailAddress" value="williamsonfamily.com@gmail.com" />
  </appSettings>
  <elmah>
    <errorLog type="Elmah.SQLiteErrorLog, Elmah" connectionStringName="Elmah.SQLite" />
    <security allowRemoteAccess="1" />
    <!--<errorMail from="williamsonfamily.com@gmail.com"
			to="samuel.g.williamson@gmail.com"
			subject="Error in Williamsonfamily.com"
			async="true"
			smtpPort="0"
			useSsl="true" />-->
    <!--<errorFilter>-->
    <!--<test>
		 -->
    <!--do not log 404's-->
    <!-- 
		<and>
		  <equal binding="HttpStatusCode" value="404" type="Int32" />
		</and>
	  </test>-->
    <!--</errorFilter>-->
  </elmah>
  <glimpse enabled="true" />
  <flickrNet apiKey="8fbe0940f1720d0dd1df4faef4cec486" secret="1290f4a98ca98ffe" cacheDisabled="true"></flickrNet>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!--<location path="glimpse.axd">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->
  <connectionStrings>
    <clear />
    <add name="MembershipConnectionString" connectionString="Data Source=|DataDirectory|Provider.db;Version=3;" />
    <add name="WilliamsonFamilyConnectionString" connectionString="Data Source=|DataDirectory|Provider.db;Version=3;" />
    <add name="Elmah.SQLite" connectionString="Data Source=|DataDirectory|Elmah.SQLite.db" />
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Home/Login.aspx" timeout="10080" slidingExpiration="true" />
    </authentication>
    <roleManager defaultProvider="SQLiteRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="10080" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="SQLiteRoleProvider" type="WilliamsonFamily.Library.Web.Membership.SQLiteProviders.SQLiteRoleProvider" connectionStringName="MembershipConnectionString" applicationName="Williamsonfamily" writeExceptionsToEventLog="false" />
      </providers>
    </roleManager>
    <membership defaultProvider="SQLiteMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SQLiteMembershipProvider" type="WilliamsonFamily.Library.Web.Membership.SQLiteProviders.SqliteMembershipProvider" connectionStringName="MembershipConnectionString" applicationName="Williamsonfamily" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Clear" writeExceptionsToEventLog="false" />
      </providers>
    </membership>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <add name="Glimpse" type="Glimpse.Core.Module" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler" />
    </httpHandlers>
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false" />
    <httpRuntime maxRequestLength="102400" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="williamsonfamily.com" password="Sadajorew" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="Glimpse" type="Glimpse.Core.Module,Glimpse.Core" preCondition="integratedMode" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="102400"></requestLimits>
      </requestFiltering>
    </security>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <add name="Glimpse" path="glimpse.axd" verb="GET,POST" type="Glimpse.Core.Handler,Glimpse.Core" preCondition="integratedMode" />
    </handlers>
    <!-- Static Content -->
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <!-- use utf-8 encoding for anything served text/plain or text/html -->
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <!-- HTML5 Video mime types-->
      <remove fileExtension=".mp4" />
      <remove fileExtension=".m4v" />
      <remove fileExtension=".ogg" />
      <remove fileExtension=".ogv" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
      <!-- HTML4 Web font mime types -->
      <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
    <!-- urlCompression -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <!-- httpCompression -->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <rewrite>
      <rules>
        <!-- Make all lowercase -->
        <rule name="Lower Case URLs" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="WebResource.axd" negate="true" />
          </conditions>
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
        <!-- Remove trailing slash -->
        <rule name="RemoveTrailingSlashRule" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
        <!-- Fix Login.aspx routing -->
        <rule name="Login.aspx Redirect" stopProcessing="true">
          <match url="home/login.aspx" ignoreCase="true" />
          <action type="Redirect" url="home/login" />
        </rule>
        <!-- Fix Logout.aspx routing -->
        <rule name="Logout.aspx Redirect" stopProcessing="true">
          <match url="home/logout.aspx" ignoreCase="true" />
          <action type="Redirect" url="home/logout" />
        </rule>
        <!-- Fix Home.aspx routing -->
        <rule name="Home.aspx Redirect" stopProcessing="true">
          <match url="home.aspx" ignoreCase="true" />
          <action type="Redirect" url="home" />
        </rule>
        <!-- sammichele redirect -->
        <rule name="sammichele Redirect" stopProcessing="true">
          <match url="^sammichele$" ignoreCase="true" />
          <action type="Redirect" url="sammichele/blog/list.aspx" />
        </rule>
        <!-- bekah redirect -->
        <rule name="bekah Redirect" stopProcessing="true">
          <match url="^bekah$" ignoreCase="true" />
          <action type="Redirect" url="bekah/blog/list.aspx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="24297a69a7eae424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.19.4141.18463" newVersion="4.19.4141.18463" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.76.0" newVersion="1.0.76.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>