@{
	ViewBag.Title = "/Admin/Index";
}

@section HeaderImage
{
	<div id="logo">
		<h1>Admin</h1>
	</div>
}

	<h3>/Admin/Index</h3>
	<br />

	<p><a href='@Url.Action("Logs", "Admin")'>Admin Log Manager</a></p>